/*Estilo de banneres*/

.banner-img-general{
    background-image: url(https://www.65ymas.com/uploads/s1/33/64/75/bigstock-travel-geography-navigation-co-196030186.jpeg);
    height: 12rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*texto del banner*/
.banner-img-general p{
    font-size: 3rem;
}

.container{
    padding: 100px;
    justify-content: space-between;
}

.card-title{
    text-align: center;
}

/*botón*/
#btnCat{
    background-color: #5E1F28;
    border-radius: 0.5rem;
    color: #fff;
}
