@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
  }
  
html{font-size: 16px;};


/*Botones Enviar y Limpiar Todo*/
.enviarbtn{
    background-color: #8A2F2E;
    color: #F7BB75; 
    border-color:#8A2F2E;
}

#btnClear {
    background-color: #8A2F2E;
    color: #F7BB75; 
    border-color:#8A2F2E;
}

.btns {
    margin-left: 5.3rem;
}

/*Cajitas*/
#exampleFormControlInput1 {
    border-color:#83764C;
    height: 4rem;
}

#exampleFormControlInput2 {
    border-color:#83764C;
    height: 4rem;
}

#exampleFormControlInput3 {
    border-color:#83764C;
    height: 4rem;
}

#exampleFormControlTextarea1 {
    border-color:#83764C;
    height: 12rem;
}

::placeholder {
    font-size: 1.2rem;
}

label {
    font-size: 1.2rem;
}

/*Banner*/
#banner {
    background-image: url("https://www.marthastewart.com/thmb/ApxWW7wyoRUEV39Es7kWs6WkMdo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/trinket-boxes-collections-print-e1582515931823-e47330b5822d490b99efe0c98b77ebbd.jpg");
    width: 100%;
    height: 8rem;
    font-size: 3rem;
    text-align: center;
    -webkit-text-stroke: 2px #F7BB75;
}

/*Container fluid del footer*/
.container-fluid2 {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container-fluid3 {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container-fluid4 {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


/*Necesario para que toda la estructura del footer funcione*/
/*Necesario para que toda la estructura del footer funcione*/
#footer, .icons, .FAQ, .gran{
    background-color: #8A2F2E;
    height: 9rem;
    margin: 0;
    
}

.fa-brands:hover,a.footer:hover{
    color: #0f0f10;
}
.granBazar{/*color de @2023ElGranBazar*/
    display: flex;
    color: #F7BB75;
    float: right;
}

.fa-brands{/*color y espacio de icons*/
    color: #F7BB75;
    margin: 1rem;
}

footer a {
    color: #F7BB75;
    text-decoration: none;
}

.footer{ /*color y espacio de FAQ*/ 
    margin: 0.2rem;
}

.navbar>.icons{
    justify-content:center; /*left?*/
    font-size: 2.5rem;
}

.navbar>.FAQ{
    justify-content:none;
    font-size: 1.5rem;
}
.navbar>.gran{/*direccion del container de @2023ElGranBazar y */
    font-size: 1rem;
    padding-right: 1rem;
}
