/*Necesario para que toda la estructura del footer funcione*/
#footer, .icons, .FAQ, .gran{
    background-color: #8A2F2E;
    height: 9rem;
    margin: 0;
}

.fa-brands:hover, .FAQ:hover{
    color: #0f0f10;
}
.granBazar{/*color de @2023ElGranBazar*/
    color: #F7BB75;
}

.bi{/*color y espacio de icons*/
    color: #F7BB75;
    margin: 1rem;
}

.FAQ a{ /*color y espacio de FAQ*/
    color: #F7BB75;
    margin: 0.2rem;
    text-decoration: none;
}
