
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;  
}

body{
    overflow-x: hidden;
}

#sectionLogin{
    background-image: url(https://cdn.pixabay.com/photo/2019/06/12/12/27/egypt-4269151_1280.jpg);
    background-size: cover;
}

h2{
    color:#8A2F2E;
    border-color: black;
}
#cuerpologin{
    
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

#btnIniciarSesion {
    justify-items: center ;
    background-color: #8A2F2E;
    color: #F7BB75; 
    border-color:#8A2F2E;
}

/*Cajas*/
.registroDatos{
border-color:#83764C;
}

/* .formaflotante{
    position: relative;
}

#personita{
    position: absolute;
    top:calc(35%);
    right: 0.5rem;

} */
