
/*navbar*/
#navbar{
    height:10rem;   
}  

/*navbar*/
#palabras {
    color: #83764C;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#palabras:hover{
    color: rgb(78, 15, 5);
    transform: scale(1.2);
}
/*Manipular la cajita del input de buscar*/
input.form-control.me-2{
    border-color:#83764C;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 0;
    width: 8rem;
}

/*Input de buscar y lupita tamaño*/
#lupita{
    font-size: 2rem;
    color:#83764C;
    margin-left: 0;
} 

/*color de Buscar*/
.form-control::placeholder{
    color: #83764C;
}

/*Remueve el color verde bandera que por default trae el boton al hacer click en el para buscar*/
#btn-lupita {
    --bs-btn-color: none;
    --bs-btn-border-color:none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color:none;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-left: 0;
}

/*icono de carrito */
#carrito, #puertitaCerrada, #puertitaAbierta{
    font-size: 2rem;
    color:#83764C;
}

/*Espacio entre los elementos del navbar*/
#ul-nav li{
    margin-left: 1rem;
    margin-right: 1rem;
} 
/*Llevar el navbar a la derecha segun se cambié de dispositivos móbiles*/
#navbarNavAltMarkup{
    justify-content: end;
}

/*este hover es para que se hagan màs grandes y se vean de color magenta*/
li,#puertitaCerrada, #puertitaAbierta:hover{
    color: rgb(78, 15, 5);
    transform: scale(1.2);
}
/*estos son para el efecto de barrita de abajo del hover*/
li:after{
    content: '';
    margin: auto;
    display: block;
    height: 3px;
    width: 0%;
    background-color: transparent;
    /* transicion: width 0.5s ,background-color 0.5s; */
    transition: all 0.8s ease;
  }
  li:hover:after{
    width: 100%;
    background-color: #8A2F2E;
  }


