@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}
body{
    overflow-x: hidden;
  }

#cuerpoRegistro{
background-image: url(https://cdn.pixabay.com/photo/2019/06/12/12/27/egypt-4269151_1280.jpg);
background-position: center;
background-size: cover;
}

#crea-cuenta{
    color:#8A2F2E;
    font-size: 1.7rem;
}

#btnCrearCuenta {
    justify-items: center ;
    background-color: #8A2F2E;
    color: #F7BB75; 
    border-color:#8A2F2E;
}

.registroDatos{
    border-color:#83764C;
}