/*banner*/
.banner-img{
    background-image: url(https://img.freepik.com/fotos-premium/collection-of-vintage-clothing-items-on-clothing-rack_933496-189.jpg);
    height: 12rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*texto del banner*/
.banner-img p{
    font-size: 3rem;
}

.container{
    padding: 40px;
    justify-content: space-between;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

/*botones*/
